<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>pigMan community</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="css/community.css">
    <script src="js/jquery.min.js" type="application/javascript"></script>
    <script  src="js/bootstrap.min.js" type="application/javascript"></script>
    <script type="application/javascript">
        window.onload = function(){
            // debugger;
            var closable = window.localStorage.getItem("closable");
            if(closable == "true"){
                window.close();
                window.localStorage.removeItem("closable");
            }
        }
    </script>
</head>
<body>

<div th:insert="~{navigation :: nav}"></div>

<div class="container-fluid main">
    <div class="row">

        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">


                <ul class="nav nav-pills  nav-category ">


                    <li role="presentation" th:class="${path == 'latest' ? 'active' : ''} "><a href="/latest">最新</a></li>
                    <li role="presentation" th:class="${path == 'hot' ? 'active' : ''} "><a href="/hot">最热</a></li>
                    <li role="presentation" th:class="${path == 'zero' ? 'active' : ''} "><a href="/zero">消灭0回复</a></li>

                </ul>


            <div style="clear: both;"></div>
            <hr >
            <div class="media" th:each="question:${pagination.data}">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object img-rounded" th:src="${question.user.avatarUrl}" alt="头像">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading" >
                        <a th:href="'/question/'+${question.id}" th:text="${question.title}" ></a>
                    </h4>
<!--                    <span th:text="${question.description}"></span><br/>-->
                    <span class="text-descr">
                        <span th:text="${question.commentCount}"/>个评论 • <sapn th:text="${question.viewCount}"/>次浏览 • <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd HH:mm')}"></span>
                        <span class="question-quickreply" th:if="${path} == 'zero' ">
                         <a th:href="'/question/'+${question.id}"  >回复</a>
                        </span>
                    </span>
                </div>
            </div>

        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <h3>最新话题</h3>

        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${pagination.showFirstPage}">
                <a th:href="@{${'/'+path}(page=1,search=${search})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;&lt;</span>
                </a>
            </li>
            <li th:if="${pagination.showPrevious}">
                <a th:href="@{${'/'+path}(page=${pagination.page - 1},search=${search})}" aria-label="Previous">
                    <span aria-hidden="true">&lt;</span>
                </a>
            </li>
            <li th:each="page:${pagination.pages}" th:class="${pagination.page == page} ? 'active':''">
                <a th:href="@{${'/'+path}(page=${page},search=${search})}" th:text="${page}" ></a>
            </li>


            <li th:if="${pagination.showNext}">
                <a th:href="@{${'/'+path}(page=${pagination.page + 1},search=${search})}" aria-label="Next">
                    <span aria-hidden="true">&gt;</span>
                </a>
            </li>
            <li th:if="${pagination.showEndPage}">
                <a th:href="@{${'/'+path}(page=${pagination.totalPage},search=${search})}" aria-label="Next">
                    <span aria-hidden="true">&gt;&gt;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<div th:insert="~{footer :: foot}"></div>

</body>
</html>